body{
    background-color: white;}
nav{display: flex;
    justify-content:space-between;
align-items: center;
margin: auto;
padding: 20px 0;}
ul li{display: inline-block;
    width: 100px;
    margin:0 6px;}
                li a {
                    text-decoration: none;
  display: block;
  padding: 8px;
  font-size: 18px;
}
.logo{
    border-radius: 5px;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
hr{height: 10px;background-color:rgb(0, 0, 0);width: 80%;
    align-content: center;}
    .first-text{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        font-size:x-large;
    }
    footer img{border-radius: 5px;}
footer{ border-radius: 5px;
    margin: 0px;
    width: 100%;
    height: 60%;
    border: solid 1px rgb(165, 156, 156);
background-color: rgba(187, 178, 178, 0.719);}
